{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module",
      "project": ["tsconfig.json", "test/jest.tsconfig.json"]
    },
    "globals": {
      "globalThis": false
    },
    "plugins": [
      "@typescript-eslint",
      "functional"
    ],
    "ignorePatterns": [
      "dist",
      "migrations",
      "test",
      "jest.config.js",
      "test-setup.js",
      "coverage"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:eslint-comments/recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:functional/external-typescript-recommended",
      "plugin:functional/recommended"
    ],
    "env": {
        "node": true,
        "commonjs": true
    },
    "rules": {
      "no-prototype-builtins": "error",
      "consistent-return": "error",
      "no-warning-comments": "warn",
      "no-implicit-globals": "error",
      "no-param-reassign": "error",
      "no-undef": "error",
      "no-shadow": "error",
      "indent": "error",
      "no-await-in-loop": "error",
      "no-console": "warn",
      "no-template-curly-in-string": "error",
      "require-atomic-updates": "warn",
      "array-callback-return": "error",
      "block-scoped-var": "error",
      "complexity": "warn",
      "no-alert": "error",
      "no-caller": "error",
      "no-constructor-return": "error",
      "no-eq-null": "error",
      "no-eval": "error",
      "no-extend-native": "error",
      "no-floating-decimal": "error",
      "no-implied-eval": "error",
      "no-lone-blocks": "error",
      "no-loop-func": "error",
      "no-throw-literal": "error",
      "no-unused-expressions": "warn",
      "no-octal-escape": "off",
      "no-unused-vars": "off",
      "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "_" }],
      "no-unmodified-loop-condition": "error",
      "no-useless-return": "error",
      "no-useless-concat": "error",
      "no-useless-call": "error",
      "radix": "error",
      "require-await": "error",
      "strict": "error",
      "no-label-var": "error",
      "no-duplicate-imports": "error",
      "functional/no-expression-statements": "off",
      "functional/immutable-data": "warn",
      "functional/prefer-immutable-types": "warn",
      "@typescript-eslint/no-var-requires": "warn",
      "functional/functional-parameters": "off",
      "functional/no-let": "warn",
      "functional/no-conditional-statements": "off",
      "functional/no-loop-statements": "error",
      "functional/no-this-expressions": "error",
      "functional/no-try-statement": "off",
      "functional/no-throw-statements": "off",
      "functional/no-mixed-types": "warn",
      "functional/no-return-void": "off",
      "functional/prefer-readonly-type": "warn",
      "@typescript-eslint/no-empty-function": "error",
      "no-use-before-define": "error",
      "@typescript-eslint/no-use-before-define": "error",
      "@typescript-eslint/explicit-function-return-type": "error",
      "functional/no-classes": "error",
      "@typescript-eslint/ban-types": "error",
      "prefer-const": "error",
      "@typescript-eslint/no-inferrable-types": "off",
      "@typescript-eslint/no-unused-expressions": "off",
      "@typescript-eslint/ban-ts-comment": "warn",
      "@typescript-eslint/no-explicit-any": "warn",
      "no-unexpected-multiline": "off"
    },
    "settings": {
    }
  }